{{>layout/header}}

<h2>게시글 수정</h2>
<div class="col-md-12">
    <form name="form_posts" id="form_posts">
        <div class="form-group">
            <label for="title">글 번</label>
            <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
        </div>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" value="{{post.title}}">
        </div>
        <div class="form-group">
            <label for="author"> 작성자</label>
            <input type="text" class="form-control" id="author" value="{{post.author}}" readonly>
        </div>
        <div class="form-group">
            <label for="content"> 내용</label>
            <textarea class="form-control" id="content">{{post.content}}</textarea>
        </div>
        <div class="form-group">
            <label for="inputFile">첨부 파일</label>
            <div class="col-sm-10">
                <div class="custom-file" id="inputFile">
                    <input name="file" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
                </div>
                {{#post.fileId}}
                    <a href="/api/file_download/{{post.fileId}}">{{OrigFilename}}</a>
                    <input type="hidden" name="file_id" id="file_id" value="{{post.fileId}}">
                {{/post.fileId}}
                {{^post.fileId}}
                    <input type="hidden" name="file_id" id="file_id" value="">
                {{/post.fileId}}
            </div>
    </form>
    <a href="/" role="button" class="btn btn-secondary">취소</a>
    <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
    <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
</div>
<script>
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
{{>layout/footer}}